body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
  font-family: 'Lobster', cursive;
  font-weight: bold;
  font-size: 40pt;
}

h2{
  text-align: center;
  background-color: #dddddd;
  background-image: linear-gradient(-90deg, #c69de3, white);
}

table, td{
  border: 1px solid black;
}

table{
  min-width: 50%;
}

thead{
  font-weight: bold;
}

tr:hover{
  background-color: #dddddd;
}

li:nth-child(even){
  background-color: #dddddd;
}

.jumbotron{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #a177bf
}

.workDates{
  margin: 10px;
}

#workDaysRequestedOff{
  width: 50px;
}

#vacationHoursAvailable{
  width: 100px;
}